/* Global Classes */
.row {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

/* Custom Styles */
header {
  padding: 0 3%;
}

.red {
  background: red;
}