.footer-container {
    text-align: center;
    background-color: #000;
    padding: 1rem;
}

.footer-names {
    display: flex;
    justify-content: center;
    gap: 1rem; /* Adds space between items */
}

.footer-names a {
    color: white;
    text-decoration: none;
}

.footer-names a img {
    vertical-align: middle;
}

.footer-names a:hover {
    text-decoration: underline;
}
